<h2>Por Region</h2>
<hr>

<div class="row">
    <div class="col text-center">
        <!-- SearchBox -->
        
        <!-- Si no se especifica llaves cuadradas, entonces siempre es un string osea lo que esta esperando -->
        <!-- <shared-search-box placeholder="Buscar por región" (onDebounce)="searchByName($event)"></shared-search-box> -->
        <button *ngFor="let item of regions" class="btn mx-2" (click)="searchByRegion(item)" [ngClass]="{'btn-outline-primary': item === selectedRegion}">{{item}}</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <hr>
        <shared-loader-spinner *ngIf="isLoading"></shared-loader-spinner>
        <countries-country-table [countriesLand]="countries"></countries-country-table>
    </div>
</div>